.widgetList {
    display: flex;

    .widgetNode {
        display: inline-block;
        width: 135px;
        line-height: 30px;
        padding-left: 10px;
        background: black;
        color: white;
        text-align: end;
        margin-right: 10px;
    
        .widgetNode_text {
            float: left;
        }
    
        .widgetNode_delete {
            display: inline-block;
            height: 30px;
            width: 25px;
            text-align: center;
            transform: translateX(-3px);
            cursor: pointer;
        }
    }
}