<article class="choose">
    <header class="header">
        Диалог выбора элементов
        <span class="choose_close" (click)="cancel()">x</span>
    </header>
    <form
        class="search"
        [formGroup]="formSearch"
    >
        <div class="search_string">
            <label>Поиск</label>
            <input type="search" formControlName="find">
        </div>
        <div class="search_range">
            <label>Фильтр</label>
            <select formControlName="larger">
                <option value="0">Без фильтра</option>
                <hr>
                <option
                    *ngFor="let item of filterOptions"
                    [value]="item"
                >Номер > {{item}}</option>
            </select>
        </div>
    </form>
    <section class="list">
        <span *ngIf="!widgetList.length">Элементы отсутствуют</span>
        <label
            *ngFor="let node of widgetList"
            class="list_item"
        >
            <input
                type="checkbox"
                [disabled]="node.disabled"
                [(ngModel)]="node.state"
            >
            {{node.name}}
        </label>
    </section>
    <p>
        Выбранные элементы на данный момент:
    </p>
    <section class="widgetList">
        <label *ngFor="let node of nodeList" class="widgetNode">
            <span class="widgetNode_text">
                {{node}}
            </span>
            |
            <span class="widgetNode_delete" (click)="deleteNode(node)">x</span>
        </label>
    </section>
    <footer class="footer">
        <button class="btnChoose" (click)="save()">
            Сохранить
        </button>
        <button class="btnChoose" (click)="cancel()">
            Отмена
        </button>
    </footer>
</article>
