:host {
    display: block;
    max-width: 968px;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(../assets/images/bg.gif);
    padding: 0 90px;

    .logo{
        height: 134px;
        background: url(../assets/images/logo.png) center top no-repeat;
        opacity: .5;
    }

    .search {
        display: flex;
        margin-bottom: 5px;
        
        .search-text_wrapper {
            position: relative;
            margin-right: 5px;
            flex-grow: 1;

            &::before {
                    content: "";
                    display: inline-block;
                    width: 37px;
                    height: 37px;
                    background: url(../assets/images/Findico.png) center center no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 100;
                }

            .search-text {
                position: relative;
                border: 1px solid rgb(239, 239, 239);
                border-radius: 3px;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11),inset 0px 2px 4px 0px rgba(0, 0, 0, 0.49);
                background-image: linear-gradient(90deg, rgb(252,252,252) 0%, rgb(240,240,240) 100%);
                height: 37px;
                width: 100%;
                font-size: 16px;
                font-family: "Arial";
                color: rgb(92, 94, 95);
                line-height: 1.563;
                text-align: left;
                padding-left: 37px;
                &:focus {
                    outline: none;
                    color: rgb(55, 63, 69);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11),inset 0px 2px 4px 0px rgba(0, 0, 0, 0.69);

                    &~span {
                        display: inline-block;
                        width: 37px;
                        height: 37px;
                        background: url(../assets/images/Dellico.png) center center no-repeat;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 100;
                    }
                }
            }
        }
        .search-btn {
            height: 37px;
            background: linear-gradient( 0, #d9dadb 0%, #e5e5e5 100%);
            box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .44) , inset 0 0 2px 0 #fff;
            border-radius: 3px;
            color: rgb(55, 63, 69);
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 10px;

            &:hover {
                background: linear-gradient( 0, #e6e7e7 0%, #f6f6f6 100%);
                box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .55) , inset 0 0 2px 0 #fff;
                color: #000;
            }
        }
    }
    .hr-separator {
        outline: 0;
        border: 0;
        margin: 0;
        height: 60px;
        background: url(../assets/images/Separator.png)  no-repeat;
        background-size: 100%;
        background-position-y: -15px;
    }
    .menu {

        & *{
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li{
                a {
                    display: block;
                    padding: 5px;
                    color: rgb(112, 114, 117);
                    line-height: 24px;
                    text-decoration: none;
                    margin-right: 5px;

                    &:hover {
                        background-color: rgb(112, 114, 117);
                        border-radius: 5px;
                        color: rgb(239, 240, 241);
                    }
                }
            }
        }
    }
}




