<div class="logo"></div>

<div class="search">
    <span class="search-text_wrapper">
        <input type="text" name="search" class="search-text">
        <span></span>
    </span>
    <button class="search-btn">найти</button>
</div>

<hr class="hr-separator">

<div class="menu">
    <input type="checkbox" id="m-label">
    <label for="m-label" class="menu-label"><span class="icon icon-menu"></span></label>
    <nav class="nav">
        <input type="radio" id="tab1" name="tab-group">
        <label for="tab1" class="tab-title" data-text="World Of Tanks"><span class="icon icon-arrow"></span>World Of Tanks</label>
        <input type="radio" id="tab2" name="tab-group" checked>
        <label for="tab2" class="tab-title" data-text="World Of Warplanes"><span class="icon icon-arrow"></span>World Of Warplanes</label>
        <input type="radio" id="tab3" name="tab-group">
        <label for="tab3" class="tab-title" data-text="World Of Warships"><span class="icon icon-arrow"></span>World Of Warships</label>
    </nav>
</div>











<!-- <wg-widget></wg-widget> -->
