<div class="logo"></div>

<div class="search">
    <span class="search-text_wrapper">
        <input type="text" name="search" class="search-text">
        <span></span>
    </span>
    <button class="search-btn">найти</button>
</div>
<div class="search">
    <span class="search-text_wrapper">
        <input type="text" name="search" class="search-text">
        <span></span>
    </span>
    <button class="search-btn">go</button>
</div>

<hr class="hr-separator">

<div class="menu">
    <input type="checkbox" id="m-label">
    <label for="m-label" class="menu-label"><span class="icon icon-menu"></span></label>
    <nav class="nav">
        <input type="radio" id="tab1" name="tab-group">
        <label for="tab1" class="tab-title" data-text="World Of Tanks"><span class="icon icon-arrow"></span>World Of Tanks</label>
        <input type="radio" id="tab2" name="tab-group" checked>
        <label for="tab2" class="tab-title" data-text="World Of Warplanes"><span class="icon icon-arrow"></span>World Of Warplanes</label>
        <input type="radio" id="tab3" name="tab-group">
        <label for="tab3" class="tab-title" data-text="World Of Warships"><span class="icon icon-arrow"></span>World Of Warships</label>
    </nav>
</div>

<hr class="hr-separator">

<article class="article">
    <h3>
        Почему не рассматриваются заявки с жалобами на нарушение Правил игры?
    </h3>
    <p>После введения функционала &laquo;Пожаловаться&raquo; не рассматриваются заявки, созданные в Центр поддержки пользователей о
    нарушении Правил игры по следующим пунктам:</p>
    <ol>
        <li>
            <h4>&laquo;Оскорбления и провокации&raquo;</h4>
            <span>В данный пункт входит:</span>
            <ul>
                <li>&ndash;использование ненормативной лексики и оскорбление собеседников, применение унизительных кличек и прозвищ по расовому,
                национальному, религиозному либо половому признаку, а также провоцирование собеседника к их использованию;</li>
                <li>&ndash;клевета, размещение заведомо ложной информации об Игре, Администрации, Модераторах или Пользователях;</li>
                <li>&ndash;угрозы реальной расправы в отношении представителей Администрации Проекта. Все виды соглашения.</li>
            </ul>
        </li>
        <li>
            <h4>&laquo;Неинформативные сообщения&raquo;</h4>
            <span>В данный пункт входит:</span>
            <ul>
                <li>&ndash;размещение информации (сообщения, фразы, символов и пр.), направленной на отвлечение Пользователей от темы беседы
                (флуд);</li>
                <li>&ndash;все виды рекламных сообщений, в частности ссылки на интернет&ndash;ресурсы.</li>
            </ul>
        </li>
        <p>Также не рассматриваются следующие заявки, созданные в Центр поддержки пользователей о нарушении Правил игры:</p>
        <li>
            <h4>&laquo;Раскрытие позиций союзников&raquo;</h4>
        </li>
        <li>
            <h4>&laquo;Выталкивание союзника&raquo;</h4>
        </li>
        <li>
            <h4>&laquo;Неспортивное поведение&raquo;</h4>
        </li>
        <li>
            <h4>&laquo;Повреждение союзников&raquo;</h4>
        </li>
    </ol>
</article>

<hr class="hr-separator">

<wg-widget></wg-widget>
