@import "./app/widget/widget.styles.scss";
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
button {
    border: none;
    &:focus {
        outline: none;
    }
}
body {
    margin: 0;
}
.icon {
    display: inline-block;
    width: 37px;
    height: 37px;
}
